@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=MedievalSharp&display=swap');
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
font-family: 'MedievalSharp', cursive;
  }
.wrapper {
  max-width: 420px;
  min-height: 70vh;
  margin: 0 auto;
  /* padding-top: 100px; */
  /* margin-top: 100px; */
}
h1{
  color:#ccc;
  padding-top: 20px;
}
button {
  font-size: 2rem;
  border: 1px solid #333;
  cursor: pointer;
}
.modifiers button {
  background-color: #ccc;
}
.operations button {
  background-color: orange;
  width: 100px;
}
.digits button {
  background-color: #efefef;
}

/* All things Grid, Flexbox, Box Alignment */
.wrapper,
.subgrid {
  display: grid;
}
.wrapper {
  grid-template-areas:
    "total total total total"
    "modif modif modif oper"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper";
  grid-auto-columns: 1fr;
}
.show-input {
  grid-area: total;
}
.modifiers {
  grid-area: modif;
}
.operations {
  grid-area: oper;
}
.digits {
  grid-area: digit;
}

.show-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  height: 10px;
  background:#fff;
  height: 40px;
  /* margin-top: 30px; */
  /* padding-top: 50px; */
}

.modifiers {
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}
.digits button {
  flex: 1 0 26%;
}
.foto{
  max-width: 450px;
  margin: 0 auto;
  border-radius:10px;
  background: #000;
  padding-bottom: 20px;
}